.body {
    font-family: Arial, sans-serif;
    background-color: gray;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;

  }
  
  .chat-container {
    width: 60%;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-left: 20%;
    margin-top: 10%;
  }
  
  .chat {
    padding: 16px;
    display: flex;
    flex-direction: column;
  }
  
  .user-message {
    text-align: right;
    background-color: #3f51b5;
    color: white;
    padding: 8px;
    border-radius: 8px 8px 8px 0;
    align-self: flex-end;
    max-width: 70%;
    margin-bottom: 4px;
  }
  
  .bot-message {
    text-align: left;
    background-color: #eeeeee;
    padding: 8px;
    border-radius: 8px 8px 0 8px;
    align-self: flex-start;
    max-width: 70%;
    margin-bottom: 4px;
  }
  
  .user {
    color: white;
  text-align: right;
  margin-bottom: 2%;


  }

  .user-text {
    background-color: #3f51b5 ;
    display: inline-block;
    padding: 5px;
  }

  
  
  .bot {
    /* color: blue; */
    /* background-color: red; */
  margin-bottom: 2%;

  }

  .bot-text {
    /* background-color: #4caf50 ; */
    background-color: cadetblue ;
    display: inline-block;
    padding: 5px;
  }

  span {
font-size: 5em;
}